<div class="game">
    <div class='game-container'>
        <canvas id='game-window' width='848px' height='480px'>

        </canvas>
    </div>
    
    <style>
        #game-window {
            background-color: black;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            border-radius: 5px;
        }
    </style>
    <script src='../static/js/platformer/sprite.js'></script>
    <script src='../static/js/platformer/entity.js'></script>
    <script src='../static/js/platformer/player.js'></script>
    <script src='../static/js/platformer/renderer.js'></script>
    <script src='../static/js/platformer/generator.js'></script>
    <script src='../static/js/platformer/platformer.js'></script>
</div>
<div class="controls">
  <span class="control"><span class="control-button">A</span> / <span class="control-button">←</span> Left</span>&emsp;
  <span class="control"><span class="control-button">D</span> / <span class="control-button">→</span> Right</span>&emsp;
  <span class="control"><span class="control-button">Space</span> Jump</span>
</div>
<p><b>Platformer</b> is a fast-paced game where you attempt to stay alive for
as long as possible.  You platform through a procedurally generated level that gets
more complicated as you go.  You can only touch platforms, everything else will kill you.</p>

<i>All graphical assets used for this game are from the free <b><a href='https://jesse-m.itch.io/jungle-pack'>Jungle Asset Pack</a></b>
    found on <a href='https://www.itch.io'>Itch.io</a>.</i>