<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Chimera.io</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link href="../static/css/styles.css" type="text/css" rel="stylesheet"/>
        <!--link page specific stylesheet-->
        {{ stylesheet|safe }}
    </head>
    <body>
        <header>
            <span class="title"><a href="/">Chimera<span style="color: #20c0ff;">.</span>io</a></span>
            <nav>
                <a href="/">Home</a>
                <a href="/games">Games</a>
                <a href="/tutorials">Tutorials</a>
                <a href="/projects">Projects</a>
            </nav>
        </header>
        <div class="content">
            {% include '%s/%s.html' % (dir, name) %} 
        </div>
        <footer>
            <span>Created and Maintained by Jordan Gaines</span>
        </footer>
    </body>
</html>